html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.left-panel-list::-webkit-scrollbar {
    display: none;
}

.doc-layout {
    margin-top: 56px;
    height: -webkit-fill-available;
}

.row,
.col-3,
.col-9 {
    height: inherit;
}

.left-panel {
    border-right: 3px solid black;
    height: 100vh;
    padding-right: 15px;
}

.left-panel-toolbox {
    height: 25%;
    padding-top: 10px;
}

.left-panel-list {
    overflow-y: scroll;
    height: 55%;
    margin-left: -15px;
    margin-right: -15px;
}

.left-panel-list a {
    padding: 8px;
    border-radius: 0 !important;
}

.list-title {
    border-radius: 0;
    margin: 0 -15px 0 -15px;
    text-align: center;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.toolbox-filter-all {
    overflow-x: scroll;
}

.toolbox-filter-all button {
    border-radius: 0 !important;
}

.toolbox-filter {
    margin-top: 10px;
}

.add-button {
    padding-left: 0;
}

.add-button button {
    padding-right: 0;
}

.filter-row {
    margin-top: 12px;
}

.icon-group label.btn {
    padding: 0.25rem 0.25rem;
    margin: 0 4px;
}

div.right-panel {
    height: inherit;
    margin: 10px -10px 0 -20px;
}

div.right-panel div.tab-content {
    height: inherit;
}







/* css for inbox */

.col-name {
    width: 20%;
}

.col-subject {
    width: 25%;
}

.col-body {
    width: 25%;
}

.col-button {
    width: 15%;
    padding: 0.5rem !important;
}

.col-button button.btn {
    padding: 0;
}

.col-label {
    width: 15%;
}

.btn:hover:focus {
    outline: none !important;
    box-shadow: none !important;
}

table.log-table td {
    height: 80px;
}

table.log-table {
    font-size: small;
    width: 1500px;
}

div.table-scroll {
    overflow-x: scroll;
    overflow-y: scroll;
    height: inherit;
}

th.log-table-1 {
    width: 10%;
}

th.log-table-2 {
    width: 22.5%;
}

th.log-table-3 {
    width: 22.5%;
}

th.log-table-4 {
    width: 22.5%;
}

th.log-table-5 {
    width: 22.5%;
}
tbody.inbox-table-body .btn{
    margin-right: 4px;
}
div#nav-inbox{
    height: inherit;
}